<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <title th:text="#{app.login.title}"></title>
</head>
<body>
<header>
    <h2 th:text="#{app.login.header}"></h2>
</header>
<main>
    <div th:if="${param.error}">
        <span th:if="${param.error != 'oauth2'}" style="color: red;"
              th:text="#{app.login.username_password_auth}"></span>
        <span th:if="${param.error == 'oauth2'}" style="color: red;" th:text="#{app.login.auth2error}"></span>
    </div>

    <form th:action="@{/login}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <div>
            <label th:text="#{app.login.login_field}"></label>
            <input name="username" required>
        </div>

        <div>
            <label th:text="#{app.login.password_field}"></label>
            <input type="password" name="password" required>
        </div>

        <button type="submit" th:text="#{app.login.with_username_password_button}"></button>
    </form>

    <a th:href="@{/oauth2/authorization/google}" th:text="#{app.login.with_google}"></a>
    <hr>
    <a th:href="@{/register}" th:text="#{app.login.register}"></a>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>